{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <article class="jumbotron mx-auto" style = "max-width:300px;">
      {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
      {% endif %}

      {% if next %}
        {% if user.is_authenticated %}
          <p>Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
        {% else %}
          <p>Please login to see this page.</p>
        {% endif %}
      {% endif %}


      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {% for field in form %}
            <div class="field">
                {{ field.errors }}
                <label class="label">{{ field.label_tag }}</label>
                <div class="control">
                {{ field }}
                </div>
                {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
        {% endfor %}
        <input class="button is-primary" type="submit" value="login"/>
      </form>

      <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
    </article>
{% endblock %}