<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Natural Resources Accounting</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  <script defer
          src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
  {% block head %}{% endblock %}
</head>
<body>
<div class="wrapper">
  <header>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="{% url "map"  %}">
            <h6 style="font-stretch: expanded"><b>N</b>atural <b>R</b>esources <b>A</b>ccounting</h6>
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu"
           aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              More
            </a>

            <div class="navbar-dropdown">
              <a class="navbar-item">
                About
              </a>
              <a class="navbar-item">
                Jobs
              </a>
              <a class="navbar-item">
                Contact
              </a>
              <hr class="navbar-divider">
              <a class="navbar-item">
                Report an issue
              </a>
            </div>
          </div>
        </div>

        <div class="navbar-end">
          {% if user.is_authenticated %}
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-primary" href="{% url "user_details" %}">
                  <strong>Кабинет</strong>
                  ({{ user.get_username }})
                </a>
                <a class="button is-light"
                   href="{% url 'logout' %}?next={{ request.path }}">
                  Вихiд
                </a>
              </div>
            </div>
          {% else %}
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-primary" href="{% url "django_registration_register" %}">
                  <strong>Sign up</strong>
                </a>
                <a class="button is-light"
                   href="{% url 'login' %}?next={{ request.path }}">
                  Log in
                </a>
              </div>
            </div>
          {% endif %}

        </div>
      </div>
    </nav>
  </header>
  <div class="container is-fluid is-paddingless map">
    {% block sidebar %}{% endblock %}
    {% block content %}{% endblock %}
  </div>

  <style>
     html {
       overflow: auto;
     }
    .wrapper {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
    }
    .map {
      flex-grow: 1;
      height: 1px;
    }
  </style>
</div>
</body>
</html>