{% extends "base.html" %}

{% block head %}
<style>
       /* Set the size of the div element that contains the map */
      #map {
        height: 100%;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
      #searchbox {
          position: absolute;
          padding-top: 10px;
          padding-left: 10px;
          z-index: 1;
      }
      #searchbox_select{
          width: 146px;
      }

</style>
{% endblock %}

{% block content %}
{#    <button style="background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; margin: 10px; padding: 0px; position: absolute; cursor: pointer; user-select: none; border-radius: 2px; height: 40px; width: 40px; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; overflow: hidden; top: 0px; right: 0px;" draggable="false" title="Включить полноэкранный режим" aria-label="Включить полноэкранный режим" type="button" class="gm-control-active gm-fullscreen-control"><img style="height: 18px; width: 18px;" #}
    <div id="searchbox" class="field has-addons has-addons-right">
        <p class="control">
            <span class="select">
                <select id="searchbox_select">
                </select>
            </span>
        </p>
        <p class="control">
            <input id="searchbox_input" class="input" type="text" placeholder="ім'я власника">
        </p>
        <p class="control">
            <button id="searchbox_button" class="button is-primary">
                Поиск
            </button>
        </p>
    </div>
    <!--The div element for the map -->
    <div id="map"></div>
  </div>
    <script>
        var api = "http://127.0.0.1:8000/api/v1.0/";
        var types = {};
        var types_html = "<option value='' class='hidden'>Тип ресурсу</option>";
        var search_data = {}
        var search_params = ""
        $.get("{% url "resourcetype-list"%}")
        .done(function(data) {
            for (let i = 0; i < data.length; i++) {
                types[data[i].id] = data[i].name
            }
            for (var key in types) {
                if (types.hasOwnProperty(key)) {
                    types_html += "<option value=" + key + ">" + types[key] + "</option>"
                }
            }
            $("#searchbox_select").html(types_html);
        });

        searchbox_button.onclick = function() {
            var e = document.getElementById("searchbox_select");
            var resource_type = e.options[e.selectedIndex].value;

            var owner_name = document.getElementById("searchbox_input").value;
            if (resource_type in types){
                search_data["type"] = resource_type;
            }
            else delete search_data["type"];

            if (owner_name && owner_name.length < 255){
                search_data["owner_name"] = owner_name
            }
            else delete search_data["owner_name"];
            search_params = jQuery.param( search_data );
            initMap()
        };

        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 6,
                center: {lat: 49, lng: 35}
            });
            // Load GeoJSON.
            map.data.loadGeoJson(
                "{% url "resource-list"%}" + '?' + search_params);

            // Set the stroke width, and fill color for each polygon
            map.data.setStyle({
                fillColor: 'green',
                strokeWeight: 1
            });
            var infowindow = new google.maps.InfoWindow();

            /* Create a "listener" that will wait for the user to click an earthquake point,
             * and then display the infowindow with details about that earthquake.
             */
            map.data.addListener('click', function(event) {
              let user = event.feature.getProperty("user");
              let owner = event.feature.getProperty("owner_name");
              let type = event.feature.getProperty("type");
              let html = 'Тип:' + types[type] + "<br>";

                if (user) {
                  user_url = "{% url "user-list"%}" + user + "/";
                  html += "Власник:" + owner + "<br>";
              }
              else
              {
                  html += 'Власник:' + owner + "<br>"
              }
              infowindow.setContent(html);
              infowindow.setPosition(event.feature.getGeometry().get());
              infowindow.setOptions({pixelOffset: new google.maps.Size(0,-30)});
              infowindow.open(map);
            });
      }

    </script>
  <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhCqHjcAXZVUZp2azu1Mwf-7ShNY2RUAw&callback=initMap">
  </script>
{% endblock %}
