{% extends "base.html" %}
{% block content %}
<form method="post" action="">
    {% csrf_token %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <article class="jumbotron mx-auto" style = "max-width:350px;">
        <dl class="register">
        {% for field in form %}
            <dt>{{ field.label_tag }}</dt>
            <dd class="clearfix">{{ field }}
                {% if field.help_text %}<small id="passwordHelpBlock" class="form-text text-muted">{{ field.help_text }}</small>{% endif %}
            {% if field.errors %}<div class="alert-warning">{{ field.errors }}</div>{% endif %}
            </dd>
        {% endfor %}
        </dl>
        <input class="button is-primary" type="submit" value="Submit" / class="clearfix">
    </article>
</form>
{% endblock %}