{% extends "base.html" %}

{% block content %}
<div class="container">
  {{user.get_full_name}}
</div>

      <form method="post" action="">
            <div class="field">
                <label class="label">Тема заяви</label>
                            <input type="text" value="Тема заяви" class="control" />
                <div class="control">
                </div>
            </div>
          <div class="field">
                <label class="label">Текст заявы</label>
                                          <input type="text" value="Текст заявы"  cols="40" rows="3" />

                <div class="control">
                </div>
            </div>
      </form>
<div class="container">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <input type="file" id="files" name="files" multiple="multiple" />

            <p style="text-align: right; margin-top: 20px;">
                <input type="submit" value="Submit" class="btn btn-lg btn-primary" />
            </p>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>

<!-- you need to include the ShieldUI CSS and JS assets in order for the Upload widget to work -->
<link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/light-bootstrap/all.min.css" />
<script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>

<script type="text/javascript">
    jQuery(function ($) {
        $("#files").shieldUpload();
    });
</script>


{% endblock %}